{% extends 'store/main.html' %}

{% load static %}

{% block content %}

    <div class="row">
        <div class="col-lg-4">
            <img src="{% static 'static/images/image2.1.jpg' %}" alt="">
            <div class="box-element product">
            </div>
        </div>
        <div class="col-lg-4">
            <img src="{% static 'static/images/image1.1.jpg' %}" alt="">
            <div class="box-element product">
            </div>
        </div>
        <div class="col-lg-4">
            <img src="{% static 'static/images/image2.1.jpg' %}" alt="">
            <div class="box-element product">    
            </div>
        </div>
    </div>

{% endblock content %}
