{% extends 'vnany/main.html' %}

{% load static %}

{% block content %}

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'home' %}" style="font-size: 25px; 
                                                                font-weight: bold; 
                                                                font-family: monospace; 
                                                                letter-spacing: 2px;
                                                                color: rgb(255, 255, 255);
                                                                font-style: italic;
                                                                border: 1px solid rgb(255, 255, 255);
                                                                padding: 2px;
                                                                border-radius: 5px;">VI</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" 
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
            aria-expanded="false" aria-label="Toggle navigation">  
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
            <a class="nav-link" href="{% url 'home' %}" style="font-weight: bold;
                                                                font-size: 20px;
                                                                border-bottom: 2px solid rgb(82, 80, 224)yellow;"> Home <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <a href="" class="btn btn-warning">Login</a>
            <a href="#">
                <img src="{% static 'static/images/cartimage.png' %}" 
                    class="img-dark" 
                    id="cart-icon" 
                    alt=""
                    style="font-size: 35px;"
                    >

            </a>
            <p id="cart-total">0</p>
        </form>
        </div>
    </nav>

    <div class="row container" >
        <div class="card mb-3" style="max-width: 520px;
                                    height: 200px;
                                    border-radius: 20px;
                                    margin: 10px auto;
                                    min-width: 200px;
                                    background: rgba(0,0,0,0.2);">    
            <div class="row g-0">
              <div class="col-md-4">
                <img src="images/user.jpg" class="img-fluid rounded-start" style="border-radius: 20px 0 0 20px;
                                                                                  min-width: 190px;" 
                                                                                  alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Professional Househelp offering both dayburg and boarding services.</p>
                  <div style="display: flex;">
                    <a href="#" class="btn btn-outline-primary mr-2">View</a>
                    <a href="#" class="btn btn-outline-secondary">Wishlist</a>
                  </div>
                  <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
        </div>
        <div class="card mb-3" style="max-width: 520px;
                                    height: 200px;
                                    border-radius: 20px;
                                    margin: 10px auto;
                                    min-width: 200px;
                                    background: rgba(0,0,0,0.2);">    
            <div class="row g-0">
              <div class="col-md-4">
                <img src="images/user.jpg" class="img-fluid rounded-start" style="border-radius: 20px 0 0 20px;
                                                                                  min-width: 190px;" 
                                                                                  alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Professional Househelp offering both dayburg and boarding services.</p>
                  <div style="display: flex;">
                    <a href="#" class="btn btn-outline-primary mr-2">View</a>
                    <a href="#" class="btn btn-outline-secondary">Wishlist</a>
                  </div>
                  <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
        </div>
        <div class="card mb-3" style="max-width: 520px;
                                    height: 200px;
                                    border-radius: 20px;
                                    margin: 10px auto;
                                    min-width: 200px;
                                    background: rgba(0,0,0,0.2);">    
            <div class="row g-0">
              <div class="col-md-4">
                <img src="images/user.jpg" class="img-fluid rounded-start" style="border-radius: 20px 0 0 20px;
                                                                                  min-width: 190px;" 
                                                                                  alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Professional Househelp offering both dayburg and boarding services.</p>
                  <div style="display: flex;">
                    <a href="#" class="btn btn-outline-primary mr-2">View</a>
                    <a href="#" class="btn btn-outline-secondary">Wishlist</a>
                  </div>
                  <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
        </div>
    </div>

{% endblock content %}